#head{
    background-color: rgb(130, 156, 205);
    display: flex;
    position: relative;
}
nav ul a:hover{
    background-color: rgb(22, 128, 189);
}
.cards{
    display: flex;
    gap: 90px;
}

.carddd{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}
